{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Twoje hasło zostało pomyślnie zmienione!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Twoje hasło zostało zmienione!" %}

{% trans "Dziękujemy za korzystanie z naszego serwisu!" %}

{% blocktrans %}Zespół {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Twoje hasło zostało zmienione!" %}</p>

<p>{% trans "Dziękujemy za korzystanie z naszego serwisu!" %}</p>

<p>{% blocktrans %}Zespół {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
