{% load i18n %}

{% block subject %}
{% blocktrans %}Resetowanie hasła na {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Otrzymujesz ten e-mail, ponieważ zażądano resetu hasła dla Twojego konta użytkownika w {{ site_name }}.{% endblocktrans %}

{% trans "Proszę przejść do poniższej strony i wybrać nowe hasło:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Twój login, na wypadek gdybyś go zapomniał:" %} {{ user.get_username }}

{% trans "Dziękujemy za korzystanie z naszego serwisu!" %}

{% blocktrans %}Zespół {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Otrzymujesz ten e-mail, ponieważ zażądano resetu hasła dla Twojego konta użytkownika w {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Proszę przejść do poniższej strony i wybrać nowe hasło:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>

<p>{% trans "Twój login, na wypadek gdybyś go zapomniał:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Dziękujemy za korzystanie z naszego serwisu!" %}</p>

<p>{% blocktrans %}Zespół {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
